@page
@model WebApplication1.Pages.School.TeacherSubjectModel

@{
    ViewData["Title"] = "Index";
}

    <h1>TeacherSubject</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeacherSubject[0].Teacher.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherSubject[0].Teacher.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherSubject[0].Subject.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TeacherSubject) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.Name)
            </td>
            
        </tr>
}
    </tbody>
</table>
